= "Welcome #{@user.username}"
Your account was successfully created!
= ' '
Please click the following link to activate your account and to log in
= ' '
= @activate_account_url
= ' '
If you have any kind of problem please don't hesitate to contact us.