= form.error_messages

%dl
  %dt= form.label :username
  %dd= form.text_field :username
  %dt= form.label :email
  %dd= form.text_field :email
  %dt= form.label :password
  %dd= form.password_field :password
  %dt= form.label :password_confirmation
  %dd= form.password_field :password_confirmation
